<!DOCTYPE html>
<html>
<head>
    <title>Study Tasks</title>
</head>

<body>

    <h1>AI Study Planner</h1>

    <h2>My Study Tasks</h2>

    <form method="POST">

        <label>Subject:</label><br>

        <select name="subject_id" required>

            {% for subject in subjects %}

            <option value="{{ subject['id'] }}">
                {{ subject['subject_name'] }}
            </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Task Name:</label><br>

        <input
            type="text"
            name="task_name"
            placeholder="Example: Learn Python Functions"
            required
        >

        <br><br>

        <label>Estimated Study Hours:</label><br>

        <input
            type="number"
            name="estimated_hours"
            min="0"
            step="0.5"
            required
        >

        <br><br>

        <button type="submit">Add Task</button>

    </form>

    <br>

    <a href="/login">Back to Dashboard</a>

</body>
</html>
